@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.light-bg {
  background-color: rgba(11, 132, 250, 0.28);
}

/* hero image face location css */
@keyframes zoom-in-out {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.pinpoint {
  width: 64px; /* Adjust size as needed */
  height: 64px; /* Adjust size as needed */
  animation: zoom-in-out 2s infinite;
}

/*  css for the blue lines */
@keyframes wave {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
}

@keyframes reverse-wave {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}

.line1,
.line4 {
  animation: wave 3s infinite ease-in-out;
}

.line2,
.line5 {
  animation: wave 3s infinite ease-in-out 0.6s;
}

.line3,
.line6 {
  animation: wave 3s infinite ease-in-out 1.2s;
}

.line4 {
  animation: reverse-wave 3s infinite ease-in-out;
}

.line5 {
  animation: reverse-wave 3s infinite ease-in-out 0.6s;
}

.line6 {
  animation: reverse-wave 3s infinite ease-in-out 1.2s;
}

/* css for arrow */
#arrowPath {
  stroke-dasharray: 1000; /* A large number that’s bigger than the length of the path */
  stroke-dashoffset: 1000; /* Start with the path hidden */
  animation: draw 2s forwards; /* Adjust the duration to your liking */
}

@keyframes draw {
  to {
    stroke-dashoffset: 0; /* End with the path fully visible */
  }
}

/* card 1 */
.card {
  opacity: 0;
  transform: translateY(50px);
  transition: transform 1s ease-out, opacity 1s ease-out;
}

/* Apply the `animate` class to start the animation */
.card.animate {
  opacity: 1;
  transform: translateY(0);
}

.star {
  display: block;
  animation: rotate 10s linear infinite; /* Adjust the duration for the speed of rotation */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
